<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{{url_for('static',filename='css/about.css')}}">

  <title>Document</title>
</head>
<body>
  <nav>
    <div class="logo"><img src="{{url_for('static',filename='images/logo.png')}}" alt=""></div>
    <ul class="navItems">
        <li><a href="/">HOME</a></li>
        <li><a href="/about">ABOUT</a></li>
        <li><button onclick="window.location.href='/login';">LOGIN</button></li>

    </ul>
</nav>
<div class="container">

<div class="wrapper">
    <div class="cols cols0">
      <p>Welcome to our career guidance application! Our mission is to help individuals find their passion and achieve their career goals.
        We understand that the journey towards a fulfilling career can be challenging, which is why we are committed to providing personalized guidance and support every step of the way.<br><br>
   
   Our application is designed to provide users with a range of resources and tools to help them explore their interests, skills, and values, and identify potential career paths that align with their strengths and aspirations. Whether you are a high school student deciding on your future path, a college graduate looking for your first job, or a professional seeking a career change, we are here to help.<br><br>
   
   Our team of experienced career advisors and coaches are dedicated to providing expert guidance and support to our users. We offer one-on-one coaching sessions, resume reviews, interview preparation, and other services to help individuals develop the skills and confidence they need to succeed in their chosen field.<br><br>
   
   Our application also features a variety of interactive tools, including career assessments, job search engines, and educational resources to help users make informed decisions about their future. We believe that with the right guidance and support, anyone can achieve their career goals and reach their full potential.<br><br>
Thank you for choosing our career guidance application, and we look forward to helping you achieve success in your career!
</p>
      

</div>
</div>
  

</body>
</html>